@using Microsoft.AspNetCore.Identity;
@using mPloy_TeamProjectG5.Models;
@inject SignInManager<AppUser> signInManager

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mPloy_FinalProject_group5</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href='https://fonts.googleapis.com/css?family=Wire+One|Raleway:300' rel='stylesheet' type='text/css'>


    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            display: flex;
            height: 80px;
            width: 100%;
            background-color: rgb(177 151 94 / 55%);
            align-items: center;
            justify-content: space-between;
            padding: 0 50px 0 100px;
            flex-wrap: wrap;
        }


            nav .ourlogo {
                color: #fff;
                font-size: 40px;
                font-weight: 600;
                margin-left: -25px;
                margin-top: 0px;
            }

        #logo a:hover {
            color: snow;
            font-size: 50px;
            font-weight: 600;
            margin-right: 0px;
            margin-top: 0px;
            text-decoration: none;
        }

        nav ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }

            nav ul li {
                margin: 0 5px;
                padding-top: 15px;
                margin-top: 0px;
            }

                nav ul li a {
                    color: #f2f2f2;
                    padding: 8px 15px;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 500;
                    transition: all 0.3s ease;
                }

                    nav ul li a.active,
                    nav ul li a:hover {
                        color: #111;
                        background: rgb(229 222 189);
                    }

        body {
            margin: 0 0 44px 0 !important;
            padding: 0 !important;
            background-color: rgb(249 246 239)
        }

        .btn-hover:hover {
            opacity: 0.6; /* Adjust opacity as desired */
            background-color: #212529; /* Slightly darker shade */
            box-shadow: 2px 2.5px 3px rgba(0, 0, 0, 0.5); /* Subtle shadow on hover */
        }

    </style>

</head>

<body>



    <section style="min-height: 100vh;">

        <nav style="margin:0;">

            <div class="ourlogo">

                <a style=" color: snow; font-size: 50px; font-weight: 600; margin-right: 0px; margin-top: 0px; text-decoration: none;" asp-page="/index">mPloy</a>


            </div>

            <ul>

                <li class="nav-item float-right">
                    <form class="form-inline">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UserAccount/CreateTask">Create Task</a>
                    </form>
                </li>

                <li class="nav-item"><a class="nav-link text-dark" asp-page="/Tasks/GetAllTasks">See Tasks</a></li>


                @if (signInManager.IsSignedIn(User))
                {
                    <li>
                        <form class="form-inline">
                            <a class="nav-link text-dark" style="margin-bottom:-10px;" asp-page="/UserAccount/DisplayUser"><img style="height:45px; width:40px; margin-right:5px;" src="/Images/Avatars/DefaultAvatar.png" alt="User Avatar" v-if="isLoggedIn"> @User.Identity.Name</a>
                        </form>
                    </li>


                    <li>
                        <form class="form-inline" asp-page="/UserAccount/LogOut" method="post">
                            <button style="margin-left:20px; margin-top:10px;" type="submit" class="btn btn-dark btn-hover">Sign Out</button>
                        </form>
                    </li>

                }               

                else
                {
                    <li class="nav-item float-right">
                        <form class="form-inline">
                            <a class="nav-link text-dark" asp-area="" asp-page="/UserAccount/CreateUser">Create Account</a>
                        </form>
                    </li>


                    <li class="nav-item float-right">
                        <form class="form-inline">
                            <a class="nav-link text-dark" asp-area="" asp-page="/UserAccount/UserLogin">Log In</a>
                        </form>
                    </li>
                }

                


            </ul>

        </nav>

        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

    </section>

    <footer style="display: flex;  background-color: rgb(177 151 94 / 55%);" class="border-top footer text-muted">
        <div style=" margin-left: 20px;">
            &copy; 2024 - mPloy Team Project for UITM in Rzeszow - <a style="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>






